* {
  padding: 0;
  margin: 0; }

.container {
  max-width: 375px;
  margin: 0 auto;
  background-color: #151515;
  height: 100vh; }
  .container .btn {
    background-color: white;
    padding: 15px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    width: auto;
    height: 40px;
    border: none;
    cursor: pointer; }
    .container .btn .btn__strip {
      font-size: 8px; }
    .container .btn .btn__score {
      display: flex;
      align-items: center;
      justify-content: center; }
      .container .btn .btn__score img {
        height: 25px; }
      .container .btn .btn__score span {
        font-size: 16px;
        margin: 0 5px; }
        .container .btn .btn__score span.win {
          color: #151515; }
        .container .btn .btn__score span.lose {
          color: #bdbdbd; }
